/*********** bigger screen styling  *******************************************/

/*********** small screen styling  ********************************************/

/*********** content flexbox contains .container grid  ************************/

.screen > .content {
  flex: 1 1 auto;
  flex-direction: column;
  background: #30577c;
}

.screen > .content > .container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 20px auto;
  grid-auto-rows: auto;
  padding: 0 20px;
}

/*********** .container grid elements *****************************************/

.screen > .content > .container > div {
  justify-content: center;
  align-items: center;
  background: #30577c;
}

/*********** this grid element is a flexbox containing this flex element ******/

.screen > .content > .container > .profilepic {
  grid-column: 8 / -1;
  display: flex;
  padding: 0 0 0 10px;
}

.screen > .content > .container > .profilepic > img {
  align-items: center;
  width: 100%;
  height: auto;
}

/*********** this grid element is a flexbox containing this flex element ******/

.screen > .content > .container > .intro {
  grid-column: 1 / 8;
  grid-row: 2;
  display: flex;
  padding: 0 10px 0 0;
}

.screen > .content > .container > .intro > .introtext {
  display: block;
  text-align: center;
}

.screen > .content > .container > .spacer {
  grid-column: 1 / -1;
}

/*********** this grid element is a flexbox containing these flex elements ****/

.screen > .content > .container > .linkbar {
  grid-column: 1 / -1;
  display: flex;
  height: 60px;
  justify-content: space-evenly;
  padding: 20px 0;
}

.screen > .content > .container > .linkbar > .image > img {
  height: 60px;
  width: auto;
}
