/*********** content styling  *************************************************/

.screen > .content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.screen > .content > .container {
  height: 100%;
  display: grid;
  grid-template-columns: ;
  grid-template-rows: ;
}

.screen > .content > .container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: #ffeead;
}

.screen > .content > .container > div > img {

  width: 100%;
  height: auto;

}
