
h1, h2, h3 {
  background-color: #FCFADD;
}

.scrollbox {

  width:auto;
  height:500px;
  line-height:3em;
  overflow:scroll;
  padding:25px;
  background-color:#FCFADD;
  color:#714D03;
  border:4px double #DEBB07;
}

.title {
  background-color:#FCFADD;
}
