html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
  padding: 0;
  margin: 0;
}

.box header, .box footer {
  background-color: #ffcc5c;
  padding: 10px 0 10px 0;
  margin: 0;

  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .content {
  flex: 1 1 auto;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
}

html, body {
  box-sizing: border-box;
  background-color: #ffeead;
  height: 100%;
}

.container > div:nth-child(1n) {
  background-color: #96ceb4;
}

.container > div:nth-child(3n) {
  background-color: #88d8b0;
}

.container > div:nth-child(2n) {
  background-color: #ff6f69;
}

.container > div:nth-child(4n) {
  background-color: #ffcc5c;
}

.navbar nav {


  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.navbar .item1 {
  padding-left: 5px;
  padding-right: 5px;
  margin-right: auto;
}


.navbar .item2 {
  padding-left: 5px;
  padding-right: 5px;
}


.navbar .item3 {
  padding-left: 5px;
  padding-right: 5px;
}


.navbar .item4 {
  padding-left: 5px;
  padding-right: 5px;
}
